#login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 78vh;
    padding: 0 2rem;
    background-color: #cdb4db;
    margin-left: 544px;
    border-radius: 2%;
    
}
@media(max-width: 480px){
    #login{
        margin-left: 10px;
        height: -96px;
        width: 315px;
        padding-bottom: 12px;
    }
}

#login .form{
    background-color: #f1f1f1;
    width: 100%;
    max-width: 480px;
    padding: 0.5rem;
}
#login .field {
   padding-bottom: 0.5rem;
    
}
#login .field label{
    display: block;
    
}
#login .field input{
    width: 100%;
    
}
#login .actions{
    text-align: center;
    margin-top: 0.5rem;
    
}

button{
    background-color: #4361ee;
    color: #ffc2d1;
}
button:hover{
    background-color: #390099;
    
}

#title{
    background-color: #5e548e;
    width: 212px;
    height: 49px;
    margin-top: -240px;
    width: 273px;
}

#title h3{
  text-align: center;
  color: #f8f9fa;
}

